@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My store name</h1>
    <p>some flavor text about the store and maybe a picture or something</p>
</div>

<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Login to an existing account</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Create">Create new account</a>
</div>
