@{
    ViewData["Title"] = "Shopping";
}

<div class="text-center">
    <h1 class="display-4">Store Selection</h1>
    <h2>Select a store to begin</h2>
    <img src="/Images/map.jpg" alt="Tamriel Map" style="vertical-align:top" width="600">
    <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Products">Products page</a>
</div>
